<div class='errors'>
    <%= @errors %>
</div>

<div class="wrapper">
    <h1>Log In</h1>
    <%= form_tag '/login' do %>
        <div class="signup">
           <%= label_tag :username %>
           <%= text_field_tag :username %> 
           <%= label_tag :password%>
           <%= password_field_tag :password %>
           <%= submit_tag "Login", class: "button"%>
        </div>
    <%end%>
    <%= button_to "Log in with Google", '/auth/google_oauth2', class: "button" %>
</div>
