
    <ul class="signup">
        <li><%= f.label :username %></li>
        <li><%= f.text_field :username %></li>
        <li><%= f.label :email %></li>
        <li><%= f.email_field :email %></li>
        <li><%= f.label :first_name %></li>
        <li><%= f.text_field :first_name %></li>
        <li><%= f.label :last_name %></li>
        <li><%= f.text_field :last_name %></li>
        <li><%= f.label :years_experience %></li>
        <li><%= f.number_field :years_experience %></li>
        <li><%= f.label :bio %></li>
        <li><%= f.text_area :bio %></li>