<div class="wrapper">
    <%= form_for @user do |f| %>
    <ul class="signup">
        Username: <%= f.text_field :username %>
        Email: <%= f.email_field :email %>
        First Name: <%= f.text_field :first_name %>
        Last_name: <%= f.text_field :last_name %>
        Years Experience: <%= f.number_field :years_experience %>
        Bio: <%= f.text_area :bio %>
        Password: <%= f.password_field :password %>
        Confirm: <%= f.password_field :password_confirmation %>
    </ul>


        <%= f.submit 'Sign Up', class: 'button' %>

    <% end %>
</div>

