<%= render partial: 'application/errors', locals: {object: @user} %>
<div class="wrapper">

    <h1>Sign Up</h1>
        <%= form_for @user do |f| %>
            <%= render partial: 'signup_form', locals: {f: f} %>
    
                <%= f.label :password %>
                <%= f.password_field :password %>
                <%= f.label :confirm %>
                <%= f.password_field :password_confirmation %>
                <br>
            <%= f.submit 'Sign Up', class: 'button' %>
  
    
        <% end %>
        
        <%= button_to "Sign up with Google", '/auth/google_oauth2', class: "button"  %>
</div>

