<h2><%= @user.first_name%> <%= @user.last_name %>'s Homepage</h2>


<div class="wrapper">
    <h3>About</h3>
    <p><%= @user.bio %></p>

    <% if @user.teacher? %>
        <h3>Years Experience: <%= @user.years_experience %> </h3>
        <h3><%= link_to 'Courses I Teach', user_courses_path(@user.id) %></h3>
        <ul>
            <% @user.given_courses.each do |course| %>
           
                <li><%= link_to course.name, course_path(course.id) %></li>
                <li>Day: <%= course.day%></li>
                <li>Time: <%= course.time %></li>
                <li>Price: <%= course.price %></li>
       
            <% end %>
        </ul>
    <% end %>
</div>


<% if session[:user_id] == params[:id].to_i %>
  <div class="button"><%= link_to 'Edit User', edit_user_path(@user) %></div>
<% end %>
   


