<div class="wrapper">

<h1><%= @user.first_name%> <%= @user.last_name %>'s Homepage</h1>
    <div class="contents">
        <h3>About Me</h3>
        <p><%= @user.bio %></p><br>
        <%= conditionally_present_teachers_courses @user %>
    </div>
</div>

 <%= present_edit_button_if_logged_in @user %>



   


