
<h2><%= @teacher.first_name%> <%= @teacher.last_name %>'s Homepage</h2>


<div>
    <% @teacher.klasses.each do |k| %>

        <h4><%= link_to k.name, class_path(k) %> - Level <%= k.level %></h4>
        
        <p><%= k.description %></p>

    <% end %>
</div>
