<div>

    <% if params[:user_id] %>
       <h1 class="heading"> <%= @user.full_name %>'s Courses</h1>
    <% else %>
        <h1 class="heading">All the Courses</h1>
    <% end %>

</div>

<div class="wrapper">

    <% @courses.each do |course| %>

        <div class="contents">
            <h3><%= link_to course.name, course_path(course) %> - Level <%= course.level %> </h3>
            <%= course.description %>  
        </div>

    <% end %>

</div>

<% if logged_in? && current_user.admin? %>
    <div class="button">
        <%= link_to 'Create a new Course', new_user_course_path %>
    </div>
<% end %>

    

