<%= render partial: 'application/errors', locals: {object: @course} %>
<h1 class="heading"><%= @course.name %></h1>

<div class="wrapper">
    <h3><%= @course.name %> - Level <%= @course.level %> </h3>
    <h3>Teacher: <%= @course.teacher.full_name %></h3> <%= link_to @course.teacher.full_name, user_path(@course.teacher.id) %>
    <p><%= @course.description %></p>
    <ul>
        <li>Duration: <%= @course.duration %> minutes </li>
        <li>Day: <%= @course.day %></li>
        <li>Time: <%= @course.time %></li>
        <li>Price: <%= @course.price %></li>

    </ul>
</div>

<div class="button"><%= link_to 'Edit', edit_course_path %></div>
