<%= render partial: 'application/errors', locals: {object: @course} %>

<div class="wrapper">

    <div class="contents">
        <%= render partial: 'course', locals {course: @course} %>
        <ul>
            <li><%= @course.day %>s <%= @course.time.try(:strftime, "at %I:%M %P") || "Time hasnt been set up" %></li>
            <li><%= @course.duration %> minutes </li>
            <li><%= number_to_currency(@course.price) %> </li>
        </ul>
        <h3>Teacher: <%= link_to @course.teacher.full_name, user_path(@course.teacher.id) %></h3>
    </div>
    
</div>

<%= render partial: 'review', locals: {course: @course} %>

<%= present_review_button_if_logged_in @course %>

<%= present_edit_course_button_if_admin %>

