<%= render partial: 'application/errors', locals: {object: @course} %>
<h1 class="heading"><%= @course.name %></h1>

<div class="wrapper">
    <div class="contents">
         <h3 ><%= @course.name %> - Level <%= @course.level %> </h3>
        <h3>Teacher: <%= link_to @course.teacher.full_name, user_path(@course.teacher.id) %></h3>
        <p><%= @course.description %></p>
        <ul>
            <li>Duration: <%= @course.duration %> minutes </li>
            <li>Day: <%= @course.day %></li>
            <li>Time: <%= @course.time.strftime("at %I:%M %P") %></li>
            <li>Price: <%= @course.price %></li>

        </ul>
    </div>
</div>


<% if logged_in? && current_user.admin? %>
    <div class="button"><%= link_to 'Edit', edit_course_path %></div>
<% end %>