<%= render partial: 'application/errors', locals: {object: @course} %>
<h1 class="heading"><%= @course.name %></h1>

<div class="wrapper">
    <h3><%= @course.name %> - Level <%= @course.level %> </h3>
    <p><%= @course.description %></p>
    <ul>
        <li><%= @course.duration %> minutes </li>
        <li><%= @course.day %></li>
        <li><%= @course.time %></li>
        <li><%= @course.price %></li>

    </ul>
</div>

<%= link_to 'Edit', edit_course_path %>