<!DOCTYPE html>
<html>
  <head>
    <title>Flow</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'reset-styles', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <ul class="nav-bar">
      <li class="nav-bar"> <%= link_to 'Home', root_path %> </li>
      <li class="nav-bar"> <%= link_to 'Courses', courses_path %> </li>
      <li class="nav-bar"> <%= link_to 'Community', users_path %> </li>
      <%= conditionaly_present_nav_buttons %>
  </ul>

  <body>
    <div class="errors">
      <% flash.each do |k,v| %>
          <%= v %>
      <% end %>
    </div>

    <%= yield %>
  </body>

  <footer>
   <div class = "footer">
      <h6>&copy; "2021 Flow LLC"</h6>
   </div>
  </footer>
</html>
