<!DOCTYPE html>
<html>
  <head>
    <title>Flow</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <ul class="nav-bar">
    <li class="nav-bar"> <%= link_to 'login', login_path %> </li>
    <li class="nav-bar"> <%= link_to 'Teachers', teachers_path %> </li>
    <li class="nav-bar"> <%= link_to 'Students', teachers_path %> </li>
    <li class="nav-bar"> <%= link_to 'Classes', classes_path %> </li>

  </ul>

  <body>
    <%= yield %>
  </body>
</html>
